

.products{
    margin: 0 5rem;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 13rem 0;
    gap: 9rem;
    justify-content: center;
    
}

.products__product{
    height: 35rem;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.53);
    animation: fadeIn 0.8s linear;
    overflow-wrap: break-word;
    max-width: 14rem;
}

.products__product--title{
    padding: 1rem 0;
}

.products__product--price{
    font-size: 1rem;
}

.product__product--instock{
    font-size: 1.1rem;
    color: green;
}

.products__product--button{
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: black;
    color: white;

}

.products__product--button:hover{
    transform: scale(1.1);
}

img{
    max-width: 15rem;
    max-height: 20rem;
}

@media screen and (max-width:640px) {
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }